<div class="block__info">
  <div class="info__first-line">
    <h1 class="info__title"><%= t('structure.family_member') %></h1>
  </div>
  <div class="action">
    <div class="link_to">
        <%= link_to t('actions.add'), new_family_member_path %>
    </div>
      <% unless @family_members.any? { | member | member.family_member_name == "You"}  %>
        <%= button_to t('actions.add_yourself'), add_self_family_members_path(current_user.id), method: :post %>
      <% end %>
  </div>
    <div class="info__list">
      <% @family_members.each do |family_member| %>
        <div class="menu-bar__item">
          <h3 class="item__subtitle"><%= family_member.family_member_name %></h3>
          <p class="item__description"><%= family_member.person.full_name %> (<%= family_member.person.date_of_birth %>)</p>
        </div>
      <% end %>
    </div>
</div>