<div class="block_form">
  <h2 class="block_form__title"><%= t('profile.edit') %></h2>
  <%= form_with(model: @profile) do |form| %>
    <% if @profile.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
          <% @profile.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label t('profile.first_name'), style: "display: block" %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label t('profile.second_name'), style: "display: block" %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label t('profile.patronym'), style: "display: block" %>
      <%= form.text_field :patronym %>
    </div>

    <div class="field">
      <%= form.label t('profile.tel'), style: "display: block" %>
      <%= form.text_field :tel %>
    </div>

    <div class="field">
      <%= form.label t('profile.address'), style: "display: block" %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label t('profile.birth_date'), style: "display: block" %>
      <%= form.date_field :date_of_birth %>
    </div>

    <div class="field last-field field-select">
      <%= form.label t('profile.gender'), style: "display: block" %>
      <%= form.select :gender, [t('gender.male'), t('gender.female')], prompt: t('actions.select') %>
    </div>

    <div class="actions">
      <%= form.submit t('profile.update')%>
    </div>
  <% end %>
</div>