<div id="<%= dom_id analysis %>">
  <p>
    <strong>Name:</strong>
    <%= analysis.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= analysis.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= analysis.price %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= analysis.type_of_analysis.name if analysis.type_of_analysis %>
  </p>
</div>