<div class="block__info">
  <div class="info__first-line">
    <h1 class="info__title"><%= t('structure.order') %> #<%= @order.id %></h1>

    <%unless @order.appointment_present? %>
    <div class="link_to">
      <%= link_to t('actions.add'), analyses_path(order_id: @order.id) %>
    </div>
    <% end %>
  </div>

  <div class="info__list">
    <% @order.order_items.each do |item| %>
      <div class="info__item">
        <h3 class="item__title"><%= item.analysis.name %></h3>

        <div class="item__price">
          <p class="price__data"><%= item.analysis.price %> cu</p>
        </div>
      </div>
    <% end %>
  </div>

 <div class="item__price">
  <p class="price__data"><%= t('structure.total_price') %>: <%= @order.total_price %> cu</p>
 </div>
  <div class="action">
  <% if @order.appointment_present? %>
    <h3 class="item__subtitle"><%= t('actions.appointment_notification') %></h3>
  <%  else %>
    <div class="link_to">
      <%=  link_to t('actions.schedule'), new_appointment_order_path(@order), class: 'btn btn-primary'  %>
    </div>

  <%  end %>
  </div>
</div>

