<h1>Замовлення #<%= @order.id %></h1>
<p>Сума: <%= @order.total_price %> грн</p>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= item.analysis.name %> - <%= item.analysis.price %> грн</li>
  <% end %>
</ul>
<%= link_to 'Додати аналіз', analyses_path(order_id: @order.id) %>
