<div class="search-form">
  <%= form_with(url: root_path, method: :get, local: true) do %>

      <%= label_tag :search, "Search:" %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter type or name of analyses" %>
      <%= submit_tag "Search" %>
  <% end %>
</div>
<% @analysis.each do | analysis |  %>
  <div style="width: 300px;">
    <p><%= analysis.name %>(<%= @type_of_analysis.find(analysis.type_of_analysis_id).name %>)</p>
    <p><%= analysis.description %></p>
    <p><%= analysis.price %></p>
  </div>
<% end %>
