<p>
  <strong>Family Member:</strong>
  <%= @appointment.family_member.family_member_name %>
</p>

<p>
  <strong>Order ID:</strong>
  Order #<%= @appointment.order_id %>
</p>

<p>
  <strong>Analysis Date:</strong>
  <%= @appointment.analysis_datetime %>
</p>
<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>
<% if @appointment.scheduled? %>
  <%= button_to 'Cancel Appointment', cancel_appointment_path(@appointment), method: :patch, data: { confirm: 'Are you sure?' } %>
<% end %>

