<!DOCTYPE html>
<html>
<head>
  <title>CoursWorkMpp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="container">
  <header class="header">
    <div class="header__tittle">
      <h1 class="header__tittle-text">
        <%= link_to "CSLab", pages_home_path %>
      </h1>
    </div>
    <div class="header__action">
        <ul class="action__user-list">
          <% if user_signed_in? %>
            <li class="action__user-item">
              <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: 'action__user-link' %>
            </li>
            <% if current_user.profile.present? %>
            <li class="action__user-item">
              <%= link_to 'My Profile', profiles_path, class: 'action__user-link' %>
            </li>
            <% end %>
          <% else %>
            <li class="action__user-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'action__user-link' %>
            </li>
            <li class="action__user-item">
              <%= link_to 'Login', new_user_session_path, class: 'action__user-link' %>
            </li>
          <% end %>
        </ul>

        <ul class="action__locale-list">
          <li class="action__locale-item">
            <%= link_to 'EN', url_for(locale: 'en'), class: "action__locale-link" %>
          </li>
          <li class="action__locale-item">
            <%= link_to 'UK', url_for(locale: 'uk'), class: "action__locale-link" %>
          </li>
        </ul>
    </div>
  </header>
  <% if user_signed_in? %>
    <nav class="navigation">
      <ul class="nav__menu-bar">
        <li class="menu-bar__item">
          <%= link_to "Profile", profiles_path, class: "menu-bar__link" %>
        </li>
        <li class="menu-bar__item">
          <%= link_to "Family Members", family_members_path, class: "menu-bar__link" %>
        </li>
        <li class="menu-bar__item">
          <%= link_to "Orders", orders_path, class: "menu-bar__link" %>
        </li>
        <li class="menu-bar__item">
          <%= link_to "Appointments", appointments_path, class: "menu-bar__link" %>
        </li>
      </ul>
    </nav>
  <% end %>
  <main class="main">
    <%= yield %>
  </main>
  <footer class="footer">
    <div class="footer__feedback">
      <h3 class="feedback__tittle">Contact information: </h3>
      <p class="feedback__data">+380 96 783 2886</p>
      <p class="feedback__data">cslab_fb@cslab.com</p>
      <p class="feedback__data">Kyiv, 10 Mira Ave.</p>
    </div>
    <div class="footer__text">
      <p class="text__data">
        &copy 2024 CSLab. All rights reserved. Your health under the microscope
      </p>
    </div>
  </footer>
</div>
</body>
</html>
